.footer{ 
    background:rgba(19, 19, 19, 0.918);
    color:white;
}
.footer ul li{
    list-style:none;
}
.footer-copyright p{

}
.footer-copyright{
    background:black;
    padding:20px;
    color:white;
}
.social-icon{
    font-size:30px;
    margin:20px 15px;
    margin-left:40px;
}
.social-icon-div{
    width:300px;
    margin: 0 auto 0px;
    
}